h1{
font-family: verdana;
background-color: #20b2aa;
}

h2{
font-family: terminator real nfi;
background-color: #20b2aa;
}

body{

background-color: #20b2aa;

text-align:center;

font-family: segoe ui, verdada, arial;


}

p{
background-color: #20b2aa;
font-family: segoe ui, verdada, arial;


}
